{{#contentFor "titleContent"}}
  {{appName}} | Administrador De Contenidos | Listado de roles
{{/contentFor}}
{{#contentFor "headerContent"}}
  <link href="/css/bvalidator.css" rel="stylesheet" type="text/css" />  
  <link href="/css/jquery.cleditor.css" rel="stylesheet" type="text/css" />
{{/contentFor}}
{{#contentFor "h2Content"}}
  {{appName}} | Administrador De Contenidos
{{/contentFor}}
{{#contentFor "topMenuContent"}}
<ul>    
    <li>
		<a href="/admin/roles/" title="Seguridad">Seguridad</a>
    </li>    
</ul>
{{/contentFor}}
{{#contentFor "topPanelContent"}}
 <div class="app-bar-element place-right">
            <span class="dropdown-toggle"><span class="mif-cog"></span> User Name</span>
            <div class="app-bar-drop-container padding10 place-right no-margin-top block-shadow fg-dark" data-role="dropdown" data-no-close="true" style="width: 220px">
                <h2 class="text-light">Quick settings</h2>
                <ul class="unstyled-list fg-dark">
                    <li><a href="" class="fg-white1 fg-hover-yellow">Profile</a></li>
                    <li><a href="" class="fg-white2 fg-hover-yellow">Security</a></li>
                    <li><a href="" class="fg-white3 fg-hover-yellow">Exit</a></li>
                </ul>
            </div>
        </div>
{{/contentFor}}﻿
<div id="box">
	<h3>Listado de roles</h2>
	<div>
	
		
	{{#if roles}}
	<table>		
			<tr>
				<th>
					Nombre
				</th>
				<th style="width: 80px;">
				Editar
				</th>                
				<th style="width: 80px;">
					Borrar
				</th>				
			</tr>
		{{# roles}}
			<tr>
				<td>
					{{role.name}}
				</td>
					<td>
						<a href="/admin/roles/edit/{{role.id}}" class = "boton_grilla pencil" title="Editar role">Editar role</a>
					</td>
					<td>
						<form action="/admin/roles/delete/" method="post">
							<input type="hidden" name="id" value="{{role.id}}"/>
							<input type="image" src="/img/icons/bin.png" value="Eliminar Role" title="Eliminar Role"
								alt="Eliminar Role" />
						</form>
				</td>                    
			</tr>
		{{/roles}}	
	<tr>
		<td colspan="2"></td><td><a href="/admin/roles/new" title="Nuevo role" class = "boton_grilla add">Nuevo role<a></td>
	</tr>	
	</table>
	{{else}}
		No hay roles en la Base de datos.
		<a href="/admin/roles/new" title="Nuevo role" class = "comandos_box add">Nuevo role<a>		
	{{/if}}	
</div>
</div>

{{#contentFor "scriptContent"}}  
{{/contentFor}}