<!DOCTYPE>
<html>
<head>
    <title>{{{block 'titleContent'}}}</title>
    <link rel="stylesheet" type="text/css" href="http://cdn.metroui.org.ua/css/metro.min.css" />
	<link rel="stylesheet" type="text/css" href="http://cdn.metroui.org.ua/css/metro-icons.min.css" />
	{{{block 'headerContent'}}}
	<style>
        html, body {
            height: 100%;
        }
        body {
        }
        .page-content {
            padding-top: 3.125rem;
            min-height: 100%;
            height: 100%;
        }
        .table .input-control.checkbox {
            line-height: 1;
            min-height: 0;
            height: auto;
        }
        @media screen and (max-width: 800px){
            #cell-sidebar {
                flex-basis: 52px;
            }
            #cell-content {
                flex-basis: calc(100% - 52px);
            }
        }
    </style>
</head>
<body class="bg-steel">
	<div class="app-bar fixed-top darcula" data-role="appbar">
        <a href="?ref=admin" target="_blank" class="app-bar-element branding">{{{block 'h2Content'}}}</a>
        {{{block 'topMenuContent'}}}
		{{{block 'userMenuContent'}}}
	</div>
	<div class="page-content">
		<div class="flex-grid no-responsive-future" style="height: 100%;">
			<div class="row" style="height: 100%">
				<div class="cell size-x200" id="cell-sidebar" style="background-color: #71b1d1; height: 100%">
				</div>
				<div class="cell auto-size padding20 bg-white" id="cell-content">
					{{{body}}}					
				</div>            
			</div>        
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	{{{block 'scriptContent'}}}
</body>
</html>
