{{#contentFor "titleContent"}}
  {{appName}} | Administrador De Contenidos | Cambiar password
{{/contentFor}}
{{#contentFor "headerContent"}}
  <link href="/css/bvalidator.css" rel="stylesheet" type="text/css" />  
  <link href="/css/jquery.cleditor.css" rel="stylesheet" type="text/css" />
{{/contentFor}}
{{#contentFor "h2Content"}}
  {{appName}} | Administrador De Contenidos
{{/contentFor}}
{{#contentFor "topMenuContent"}}
<ul>    
    <li>
		<a href="/admin/users/" title="Seguridad">Seguridad</a>
    </li>    
</ul>
{{/contentFor}}
{{#contentFor "topPanelContent"}}
<div id="panel">
  <ul>
    <li>
      Bienvenido: {{userAuthenticated.username}}
    </li>
    <li>
      <a href="/admin/users/changepassword/" tittle="Cambiar Password" class="key">Cambiar password</a>
    </li>
    <li>
      <a href="/admin/logoff" title="Salir" class="door_open">Salir</a>
    </li>
  </ul>
</div>
{{/contentFor}}
  <div id="box">
	<div>
		<form action="/admin/users/password/{{user.id}}" method="post"id="form">
			<fieldset>
				<legend>Cambiar password de {{user.username}}</legend>
				<label for="newPassword">Nuevo password:</label><input type="password" name="newPassword" id="newPassword" data-bvalidator="required" data-bvalidator-msg="Ingrese el nuevo password del usuario." value=""/><br/>
				<label for="confirmPassword">Confirmar nuevo password:</label><input type="password" name="confirmPassword" id="confirmPassword" data-bvalidator="required" data-bvalidator-msg="Confirme el nuevo password del usuario." value=""/><br/>
			</fieldset>
			<div class="alignCenter">
				<input type="submit" value="Guardar"/>
				<a href="/admin/users/" title="Cancelar">Cancelar</a>
			</div>	
	</form>
</div></div>
{{#contentFor "scriptContent"}}
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>  
  <script src="/js/jquery.bvalidator-yc.js" type="text/javascript"></script>
  <script src="/js/jquery.cleditor.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('#form').bValidator();      
    });
  </script>  
{{/contentFor}}