{{#contentFor "titleContent"}}
  {{appName}} | Administrador De Contenidos | Listado de usuarios
{{/contentFor}}
{{#contentFor "headerContent"}}
{{/contentFor}}
{{#contentFor "h2Content"}}
  {{appName}}
{{/contentFor}}
{{#contentFor "topMenuContent"}}
<span class="app-bar-divider"></span>
        <ul class="app-bar-menu">
            <li data-flexorderorigin="0" data-flexorder="1">
                <a href="" class="dropdown-toggle">Seguridad</a>
                <ul class="d-menu" data-role="dropdown">                    
                    <li>
                        <a href="" class="dropdown-toggle">Usuarios</a>
                        <ul class="d-menu" data-role="dropdown">
                            <li><a href="/Admin/Users/" title="Listado de usuario">Listado</a></li>
                            <li><a href="/Admin/Users/New/" title="Nuevo usurio">Nuevo</a></li>
                        </ul>
                    </li>
					<li>
                        <a href="" class="dropdown-toggle">Roles</a>
                        <ul class="d-menu" data-role="dropdown">
                            <li><a href="/Admin/Roles/" title="Listado de roles">Listado</a></li>
                            <li><a href="/Admin/Roles/New/" title="Nuevo role">Nuevo</a></li>
                        </ul>
                    </li>
                </ul>
            </li>            
        </ul>
{{/contentFor}}
{{#contentFor "userMenuContent"}}
 <div class="app-bar-element place-right">
            <span class="dropdown-toggle"><span class="mif-cog"></span> {{userAuthenticated.username}}</span>
            <div class="app-bar-drop-container padding10 place-right no-margin-top block-shadow fg-dark" data-role="dropdown" 
				data-no-close="true" style="width: 220px">
                <ul class="unstyled-list fg-dark">
                    <li><a href="" class="fg-white1 fg-hover-yellow">Profile</a></li>
                    <li><a href="/admin/users/changepassword/" tittle="Cambiar Password" class="fg-white2 fg-hover-yellow">Cambiar password</a></li>
                    <li><a href="/admin/logoff" title="Salir" class="fg-white3 fg-hover-yellow">Salir</a></li>
                </ul>
            </div>
        </div>
{{/contentFor}}﻿
<h1 class="text-light">Listado de usuarios<span class="mif-drive-eta place-right"></span></h1>
	<hr class="thin bg-grayLighter">
	<a href="/Admin/Users/New/" title="Nuevo"><span class="mif-plus"></span> Nuevo</button>
	<hr class="thin bg-grayLighter">
    
	{{#if users}}
                <table class="table striped border ">
		 <thead>
                        <tr>
				<th>
					Usuarios
				</th>
<th></th>
				<!--<th>
				Editar
				</th>
                <th>
					Permisos
				</th>
                <th>
					Contraseña
				</th>                
				<th>
					Borrar
				</th>-->				
			</tr>
</thead>
		{{# users}}
			<tr>
				<td>
					<a href="javascript:void(0)"; title="{{user.email}}">{{user.username}}</a>					
				</td><td><div class="toolbar">
    <div class="toolbar-section place-right">
					
						<a href="/admin/users/edit/{{user.id}}" title="Editar usuario" class="button"><span class="mif-pencil"></span></a>
					
						<a href="/admin/users/roles/{{user.id}}" title="Editar Roles" class="button"><span class="mif-equalizer"></a>
					
						<a href="/admin/users/password/{{user.id}}" title="Cambiar Contraseña" class="button"><span class="mif-key"></a>
					
						<form action="/admin/users/delete/" method="post" style="display:inline;">
							<input type="hidden" name="id" value="{{user.id}}"/>
							<button  title="Eliminar Usuario" alt="Eliminar Usuario"  class="button"><span class="mif-bin"></span></button>
						</form></div></div>
				</td>                    
			</tr>
		{{/users}}		
	</table>
	{{else}}
		No hay usuarios en la Base de datos.
	{{/if}}	
</div>
</div>

{{#contentFor "scriptContent"}}  
	<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>	
	<script src="http://cdn.metroui.org.ua/js/metro.min.js"></script>
{{/contentFor}}