{{#contentFor "titleContent"}}
  {{appName}} | Administrador De Contenidos | Listado de usuarios
{{/contentFor}}
{{#contentFor "headerContent"}}
{{/contentFor}}
{{#contentFor "h2Content"}}
  {{appName}}
{{/contentFor}}
{{#contentFor "topMenuContent"}}
<span class="app-bar-divider"></span>
        <ul class="app-bar-menu">
            <li data-flexorderorigin="0" data-flexorder="1">
                <a href="" class="dropdown-toggle">Seguridad</a>
                <ul class="d-menu" data-role="dropdown">                    
                    <li>
                        <a href="" class="dropdown-toggle">Usuarios</a>
                        <ul class="d-menu" data-role="dropdown">
                            <li><a href="/Admin/Users/" title="Listado de usuario">Listado</a></li>
                            <li><a href="/Admin/Users/New/" title="Nuevo usurio">Nuevo</a></li>
                        </ul>
                    </li>
					<li>
                        <a href="" class="dropdown-toggle">Roles</a>
                        <ul class="d-menu" data-role="dropdown">
                            <li><a href="/Admin/Roles/" title="Listado de roles">Listado</a></li>
                            <li><a href="/Admin/Roles/New/" title="Nuevo role">Nuevo</a></li>
                        </ul>
                    </li>
                </ul>
            </li>            
        </ul>
{{/contentFor}}
{{#contentFor "userMenuContent"}}
 <div class="app-bar-element place-right">
            <span class="dropdown-toggle"><span class="mif-cog"></span> {{userAuthenticated.username}}</span>
            <div class="app-bar-drop-container padding10 place-right no-margin-top block-shadow fg-dark" data-role="dropdown" 
				data-no-close="true" style="width: 220px">
                <ul class="unstyled-list fg-dark">
                    <li><a href="" class="fg-white1 fg-hover-yellow">Profile</a></li>
                    <li><a href="/admin/users/changepassword/" tittle="Cambiar Password" class="fg-white2 fg-hover-yellow">Cambiar password</a></li>
                    <li><a href="/admin/logoff" title="Salir" class="fg-white3 fg-hover-yellow">Salir</a></li>
                </ul>
            </div>
        </div>
{{/contentFor}}﻿
<h1 class="text-light">Listado de usuarios<span class="mif-drive-eta place-right"></span></h1>
	<hr class="thin bg-grayLighter">
	<a href="/Admin/Users/New/" title="Nuevo"><span class="mif-plus"></span> Nuevo</button>
	<hr class="thin bg-grayLighter">
    
	{{#if users}}
                <table class="dataTable border bordered" data-role="datatable" data-auto-width="false">
		 <thead>
                        <tr>
				<th>
					Usuario
				</th>
				<th style="width: 80px;">
				Editar
				</th>
                <th style="width: 80px;">
					Permisos
				</th>
                <th style="width: 80px;">
					Contraseña
				</th>                
				<th style="width: 80px;">
					Borrar
				</th>				
			</tr>
</thead>
		{{# users}}
			<tr>
				<td>
					<a href="javascript:void(0)"; title="{{user.email}}">{{user.username}}</a>					
				</td>
					<td>
						<a href="/admin/users/edit/{{user.id}}" class = "boton_grilla pencil" title="Editar usuario">Editar usuario</a>
					</td>
					<td>
						<a href="/admin/users/roles/{{user.id}}" class = "boton_grilla group_gear" title="Editar Roles">Editar Roles</a>
					</td>
					<td>
						<a href="/admin/users/password/{{user.id}}" class="boton_grilla key" title="Cambiar Contraseña">Cambiar Contraseña</a>
					</td>
					<td>
						<form action="/admin/users/delete/" method="post">
							<input type="hidden" name="id" value="{{user.id}}"/>
							<input type="image" src="/img/icons/bin.png" value="Eliminar Usuario" title="Eliminar Usuario"
								alt="Eliminar Usuario" />
						</form>
				</td>                    
			</tr>
		{{/users}}		
	</table>
	{{else}}
		No hay usuarios en la Base de datos.
	{{/if}}	
</div>
</div>

{{#contentFor "scriptContent"}}  
	<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>	
	<script src="http://cdn.metroui.org.ua/js/metro.min.js"></script>
{{/contentFor}}